<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa fa-cutlery" aria-hidden="true"></i> <b>Royal Bites</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu">Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#restaurant">Restaurants</a></li>
        <li class="nav-item"><a class="nav-link" href="#restaurant">Sign In</a></li>
        <li class="nav-item"><a class="nav-link btn" href="/views/signup.ejs">Restaurants</a></li>
      </ul>
    </div>
  </div>
  </div>
</nav>