<% layout("/layouts/boilerplate") %>

  <body>
    <% layout("/layouts/boilerplate") %>
      <div class="row mt-3">
        <div class="col-8 offset-2">
          <br><br>
          <h3>Book A Table</h3>
          <form method="POST" action="/listings">
            <div class="mb-3">
              <label for="phome" class="form-label">Your Phone Number</label>
              <input type="text" class="form-control" id="name" name="listing[phone]" required>
            </div>
            <div class="mb-3">
              <label for="booking-date" class="form-label">Booking Date</label>
              <input type="date" class="form-control" id="booking-date" name="booking[date]" required>
            </div>
            <div class="mb-3">
              <label for="booking-time" class="form-label">Booking Time</label>
              <input type="time" class="form-control" id="booking-time" name="booking[time]" required>
            </div>
            <div class="mb-3">
              <label for="num-people" class="form-label">Number of People</label>
              <input type="number" class="form-control" id="num-people" name="booking[people]" min="1" required>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-primary">Confirm Booking</button>
            </div>
          </form>

        </div>

      </div>